@model Bai9_QLThongTinSV.Models.Student

@{
    ViewBag.Title = "Delete Student";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style>
        table tr td {
            padding: 0.5em 1em;
            border-bottom: 1px solid gray;
        }

        table tr:last-child td {
            border-bottom: none;
        }

        div.text-center {
            padding-bottom: 1.5em;
        }

        #header {
            border-bottom: 1px solid gray;
        }

        #footer {
            padding-top: 1em;
            border-top: 1px solid gray;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            @Html.ActionLink("< Back To Home", "Index")
        </div>
        <div class="row" id="header">
            <div class="text-center">
                <h2>Bạn Có Muốn Xoá Sinh Viên Này Không ?</h2>
            </div>
        </div>
        <br />
        <div class="row" style="padding-top: 1em; padding-bottom: 2.5em;">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <img src="../../Imgs/@Model.Avatar" class="img-responsive" />
            </div>
            <div class="col-sm-5" style="text-align: left;">
                <table>
                    <tr>
                        <td><b>Student ID</b></td>
                        <td>@Model.StudentID</td>
                    </tr>
                    <tr>
                        <td><b>Full Name</b></td>
                        <td>@Model.FullName</td>
                    </tr>
                    <tr>
                        <td><b>Date Of Birth</b></td>
                        <td>@Model.DateOfBirth.ToString("d")</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row" id="footer">
            <div class="text-right">
                <form method="post" action="/Student/DeleteAccept/@Model.StudentID">
                    <input type="submit" id="btnDelete" class="btn btn-success" value="Xoá Sinh Viên" />
                </form>
            </div>
        </div>
    </div>
        
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>


