@model Entity.Course_Ent

@{
    ViewBag.Title = "Create";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/all.css" type="text/css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script type="text/javascript">
        if (("@ViewBag.Message").trim() != "") {
            alert("@ViewBag.Message");
        }
    </script>
    <style type="text/css">
        body {
            background-color: dimgray;
        }

        #frmCreate {
            text-align: center;
            width: 30vw;
            background-color: rgba(45,45,45, 0.6);
            padding: 2em;
        }

        #box-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        label {
            color: white;
        }

        #txtID, #txtName, #txtLocation, #TeacherName{
            border-radius: 0px;
            color: white;
            background-color: transparent;
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #646464;
        }

            #TeacherName option{
                color: black;
            }

            #btnSave {
                border-radius: 0;
                padding: 0.5em 0;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="padding: 2em 0;">
            <a href="@Url.Action("Course","Course")">< Back To Home</a>
        </div>
        <div id="box-center">
            @using (Html.BeginForm("Create", "Course", FormMethod.Post, new { @id = "frmCreate" }))
            {
                <div class="form-group" style="text-align: left;">
                    <label for="txtID"><b>Course ID</b></label>
                    @Html.TextBoxFor(model => model.CourseID, new { @class = "form-control", @id = "txtID" })
                    @Html.ValidationMessageFor(model => model.CourseID, "", new { @style = "color: red;" })
                </div>

                <div class="form-group" style="text-align: left;">
                    <label for="txtName"><b>Course Name</b></label>
                    @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control", @id = "txtName", required = "required" })
                    @Html.ValidationMessageFor(model => model.CourseName, "", new { @style = "color: red;" })
                </div>

                <div class="form-group" style="text-align: left;">
                    <label for="txtLocation"><b>Location</b></label>
                    @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @id = "txtLocation", required = "required" })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @style = "color: red;" })
                </div>

                <div class="form-group" style="text-align: left;">
                    <label for="TeacherName"><b>Teacher Name</b></label>
                    <select class="form-control" id="TeacherName" name="TeacherName">
                        @foreach (Entity.Teacher_Ent teacher_Ent in ViewBag.Teachers)
                        {
                            <option value="@teacher_Ent.TeacherID">@teacher_Ent.TeacherName</option>
                        }
                    </select>
                </div>


                <br />

                <input type="submit" class="btn btn-success" value="Save" id="btnSave" style="width: 10vw;" />
            }
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>



